body{
  margin: 0;
  padding: 0;
}
.header {
  position: relative;

  .image-background{
    width:100%;
    height: 450px;
    object-fit: cover;
    z-index: 2;
    position: relative;
  }

  .search-input {
    position: absolute;
    z-index: 3;
    width: 40%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
  }
  .texte-titre{
    position: absolute;
    font-size: 40px;
    text-align: center;
    font-family: "Protest Strike", sans-serif;
    color: yellow;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
    font-weight: 400;
    z-index: 4;
    width: 50%;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
  }

  #searchInput {
    width: 100%; /* L'input prend toute la largeur du conteneur */
    padding: 10px 40px 10px 10px; /* Ajoute de l'espace à droite pour l'icône */
    font-size: x-large;
    font-family: "Protest Strike", sans-serif;
    height: 50px;
    box-sizing: border-box;
    margin-top: 20px;
  }

  .search-input i {
    position: absolute;
    right: 15px; /* Place l'icône à droite de l'input */
    top: 65%;
    transform: translateY(-50%); /* Centre verticalement l'icône */
    font-size: x-large;
    color: gray; /* Style de l'icône */
    pointer-events: none; /* Désactive les interactions avec l'icône */
  }

}

.filtres{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-left: 125px;
  .ingredients-contener{
    display: flex;
  }
  #nbResults{
    margin-right: 100px;
    font-size: 18px;
  }
  /* Style de la dropdown */
.dropdown {
  position: relative;
  width: 250px;
}

#searchInput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#dropdown_ustensils {
  margin: 0;
  position: absolute;
  top: 100%; /* Positionne la liste juste en dessous du bouton */
  left: 0;
  width: 100%; /* Vous pouvez ajuster la largeur selon vos besoins */
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none; /* Liste cachée par défaut */
  z-index: 9999; /* Assurez-vous qu'elle se superpose à d'autres éléments */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Pour ajouter une ombre portée, optionnel */
  max-height: 200px;
  overflow-y: auto;
}

/* Ajouter un effet au survol des éléments de la liste */
#dropdown_ustensils .ustensil-item:hover {
  background-color: #f1f1f1;
}

.ustensil-item {
  padding: 8px;
  cursor: pointer;
}

.ustensil-item:hover {
  background-color: #f0f0f0; /* Changer la couleur au survol */
}

/* Style de base pour le dropdown des appareils */
#dropdown_appliances {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none; /* Par défaut, la liste est cachée */
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Limite la hauteur si trop d'éléments */
  overflow-y: auto; /* Ajoute un défilement si nécessaire */
}

#dropdown_appliances .appliance-item {
  padding: 8px 12px;
  cursor: pointer;
}

#dropdown_appliances .appliance-item:hover {
  background-color: #f1f1f1;
}

#dropdown_ingredients {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none; /* Par défaut, la liste est cachée */
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Limite la hauteur si trop d'éléments */
  overflow-y: auto; /* Ajoute un défilement si nécessaire */
}

#dropdown_ingredients .ingredient-item {
  padding: 8px 12px;
  cursor: pointer;
}

#dropdown_ingredients .ingredient-item:hover {
  background-color: #f1f1f1;
}

}

select{
  padding-left: 5px;
  border-radius: 5px;
  height: 40px;
  width:200px;
  margin-right: 40px;
}

.recettes{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 125px;
  margin-top: 30px;
}

.recette{
  border: 1px solid black;
  margin-bottom: 35px;
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px; 
  max-width: 350px;
  
  .image-recette{
    width: 100%;
    height:200px;
    object-fit: cover;
  }

  .infos{
    width: 350px;
    box-sizing: border-box;
    padding: 15px;  
    display: block;
  }

  .infos-recette{
    max-height: 4.5em; /* Limite à 3 lignes */
    overflow: hidden; /* Cache le texte débordant */
    line-height: 1.5em; /* Hauteur de chaque ligne */    
  }
  .infos-title{
    color: grey;
  }

  .ingredients{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .ingredient {
    width: calc(50% - 10px); /* Chaque élément prendra 50% de la largeur avec une petite marge */
    box-sizing: border-box;  /* Inclure les marges et paddings dans la largeur */
    margin-bottom: 10px;
  }

  .quantite-unite{
    flex-direction: row;
    color:grey;
  }
  
}

.recette:hover{
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.5);

}

/* media query pour tablettes */
@media (min-width: 768px) and (max-width: 1024px) {
  .recette{
    
    .infos{
      max-width: 250px;
    }
  }
}

/* media query pour téléphones */
@media (min-width: 320px) and (max-width: 426px){
  
  .header{
    .texte-titre{
      font-size: 20px;
      width: 100%;
    }
    .image-background{
      width: 100%;
      height: 175px;
    }
    .search-input > i {
      position: absolute;
      right: 10px;
      top:75%;
      transform: translateY(-50%);
      font-size: 20px;
      color: gray;
      pointer-events: none;
    }
    
    .search-input{
      width: auto;
    }
    #searchInput{
      margin-top: 40px;
      font-size: medium;
      height: 40px;
      width: 215px;
    }
  }
  .filtres{
    display: flex;
    padding: 5%;
    margin: 0;
    flex-direction: column;

    #nbResults{
      padding-top: 7px;
      padding-left: 0;
    }
  }
  select{
    border-radius: 5px;
    height: 30px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .recettes{
    margin: 0;
    grid-template-columns: 1fr;
    padding: 5%;
    justify-content: center;
    align-items: center;
  }

  #nbResults{
    padding-top: 5px;
    padding-left: 5%;
    margin: 0;
  }
  .recette{
    max-width: 100%;
    .infos{
      width: 100%;
    }
    .infos-title{
      font-size: 18px;
    }
    .infos-name > h1{
      font-size: 20px;
    }
    .image-recette{
      height: 175px;
    }
  }
}
@media (min-width: 1024px) and (max-width:1440px){
  .header{
    .texte-titre{
      width: 100%;
   }

   #searchInput{
    margin-top: 50px;
   }

   .search-input{
    width: 75%;
  }
   .search-input > i {
    top: 75%;
   }
  }

  .filtres{
    margin-left: 3em;
    
  }

  .recettes{
    margin-left: 3em;
  }

  .recette{
    max-width: 300px;
  }
  
}

@media (min-width: 768px) and (max-width: 1023px){
  .header{
    .image-background{
      width: 100%;
    }
    .texte-titre{
      width: 100%;
    }  

    .search-input{
      width: 60%;
    }
    #searchInput{
      margin-top: 50px;
    }

    .search-input > i {
      top: 75%;
    }
  }
  .filtres{
    display: flex;
    padding-top: 3%;
    padding-left: 3%;
    margin: 0;
    flex-direction: column;

    #nbResults{
      padding-top: 7px;
      padding-left: 0;
    }
  }

  .recettes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3%;
  }

  .recette{
    max-width: 350px;
  }
}
@media (min-width:1440px){
  .recette{
    max-width: 400px;
  }
}